.faq
    font-size: 1.2em
    padding: 2em 0 2em 0
    
    .wrapper
        max-width: 800px
        margin: 0.5% auto
        padding: 2em
        display: flex
        flex-direction: column

        .question
            font-family: Gill Sans
            font-size: 2em
            vertical-align: top

        
    .wrapper:nth-child(1)
        margin-top: 4%