.text
    font-size: 1.7em
    background: rgb(100%, 99.5%, 93.3%)
    
    .wrapper
        max-width: 800px
        margin: 3% auto
        padding: 40px
        display: flex
        flex-direction: column
        align-items: center
        
    h1
        margin-bottom: 1em
        font-size: 3em

.text:hover
    animation: boxShadow 0.2s both

    